body{
    background-color: antiquewhite;
}
h1{
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
article{
    background-image:url(./fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2%;
    margin: 30px;
    border: 5px solid black;
    box-sizing: border-box;
}
#S1{
    width: 500px;
    height: 500px;
    border-radius: 25%;
    float: right;
}
#video1{
    width: 800px;
    height: 700px;
    float: left;
    float: initial;
    border-radius: 15%;
}
p{
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h2{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(9, 8, 8);
}
#blender{
    background: none;
}
#blender{
    background-image: url(./fondo\ blender\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}
#S2{
    text-align: center;
    width: 40%;
    height: 40%;

}
#V2{
    width: 40%;
    height: 40%;
    float: right;
}
#blender>p{
    font-size: 50px;
}
.redes{
    background: none;
    background-color: blue;
    border-radius: 0%;
    border: 0px;
    margin: initial;
}
li{
    color: white;
}
button{
    width: 10%;
    height: 20%;
    border: black;
    margin: 10px;
    background-color: gray;
}